apiVersion: apps/v1
kind: Deployment
metadata: 
  name: deployment1
spec:
  replica: 3
  selector:
    matchLabels:
      type: frontend
  template:
    metadata:
      name: httpd1
      labels:
        type: frontend
    spec: 
      containers:
        - name: httpd
          image: httpd